@use '@angular/material' as mat;
@use 'variables' as vars;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$aura-primary: mat.m2-define-palette(mat.$m2-purple-palette, 500, 100, 800);
$aura-accent: mat.m2-define-palette(mat.$m2-teal-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$aura-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$aura-theme: mat.m2-define-light-theme((
  color: (
    primary: $aura-primary,
    accent: $aura-accent,
    warn: $aura-warn,
  ),
  typography: mat.m2-define-typography-config(
    $font-family: vars.$font-family-base,
  ),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($aura-theme);

// Custom overrides to match exact hex codes if needed
:root {
  --mat-toolbar-container-background-color: #{vars.$color-primary-500};
  --mat-sidenav-container-background-color: #{vars.$color-gray-50};
}
