apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    meta.helm.sh/release-name: aura360
    meta.helm.sh/release-namespace: aura360
  creationTimestamp: "2025-11-17T01:33:21Z"
  generation: 1
  labels:
    app.kubernetes.io/component: grobid
    app.kubernetes.io/instance: aura360
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: aura360
    app.kubernetes.io/version: 1.0.0
    environment: development
    helm.sh/chart: aura360-0.1.0
  name: grobid
  namespace: aura360
  resourceVersion: "544205"
  uid: 0c5ad957-054b-4971-ade9-ddbf27a4025e
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/component: grobid
      app.kubernetes.io/instance: aura360
      app.kubernetes.io/name: aura360
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/component: grobid
        app.kubernetes.io/instance: aura360
        app.kubernetes.io/name: aura360
    spec:
      containers:
      - env:
        - name: GROBID_OPTS
          value: --max-connection=10 --max-threads=10
        image: lfoppiano/grobid:0.7.2
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /api/isalive
            port: http
            scheme: HTTP
          initialDelaySeconds: 60
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1
        name: grobid
        ports:
        - containerPort: 8070
          name: http
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /api/isalive
            port: http
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            cpu: "1"
            memory: 2Gi
          requests:
            cpu: 500m
            memory: 1Gi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2025-11-17T01:33:54Z"
    lastUpdateTime: "2025-11-17T01:33:54Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2025-11-17T01:33:21Z"
    lastUpdateTime: "2025-11-17T01:33:54Z"
    message: ReplicaSet "grobid-ff766f558" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 1
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
